{% extends "main/base.html" %}
{% load static %}
{% block meta-attrs %}
    <meta name="description" content="Submit data to phytochemdb.com">
    <meta name="keywords" content="phytochemdb.com, phytochemical, compounds, submit data">
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'data_submission/css/styles.css' %}">
{% endblock %}

{% block title %}Submit Data{% endblock %}
{% block body %}
    <div class="container">
        <div id="form-div">
            <h3>Upload Your File</h3>
            <div>
                {% for error in form.non_field_errors %}
                    <p class="text text-danger">{{ error }}</p>
                {% endfor %}
                <div id="message" style="margin: 5px 10px"></div>
            </div>
            <form id="form-data" action="{% url 'data_submission:index' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="user" value="{{ user.id }}">
                <div class="form-group">
                    <label for="plantText" class="text-success font-weight-bold">Plant Name <span
                            style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="plantText" name="plant_name"
                           aria-describedby="plantHelp"
                           placeholder="Enter Plant Name">
                    <small id="plantHelp" class="form-text text-muted">
                        If the compounds from a specific plant then put plant name or left it blank.
                    </small>
                    {% for field in form %}
                        {% if field.html_name == 'plant_name' %}
                            {% for error in field.errors %}
                                <p class="text text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="pub_link" class="text-success font-weight-bold">
                        Publication Link <span style="color: red;">*</span>
                    </label>
                    <input type="url" class="form-control" id="pub_link" name="pub_link" aria-describedby="plantHelp"
                           placeholder="Enter Publication Link or DOI Link">
                    <small id="plantHelp" class="form-text text-muted">
                        Your data related publication link or doi link.
                    </small>
                    {% for field in form %}
                        {% if field.html_name == 'pub_link' %}
                            {% for error in field.errors %}
                                <p class="text text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="data_description" class="text-success font-weight-bold">Data Description</label>
                    <textarea class="form-control" id="data_description" name="data_description" cols="40" rows="10"
                              class="vLargeTextField" maxlength="500" aria-describedby="plantHelp"
                              placeholder="Submitted Data Description.."></textarea>
                    <small id="plantHelp" class="form-text text-muted">Describe submitted data(optional).</small>
                </div>
                <div class="form-group">
                    <label for="mendeley_data_link" class="text-success font-weight-bold">Mendeley Link</label>
                    <input type="url" class="form-control" id="mendeley_data_link" name="mendeley_data_link"
                           aria-describedby="plantHelp" placeholder="Enter Mendeley Data Link...">
                    <small id="plantHelp" class="form-text text-muted">Publication data mendeley link.</small>
                    {% for field in form %}
                        {% if field.html_name == 'mendeley_data_link' %}
                            {% for error in field.errors %}
                                <p class="text text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="sdfFile" class="text-success font-weight-bold">Compound File(sdf format) <span
                            style="color: red;">*</span></label>
                    <input type="file" class="form-control-file" id="sdfFile" name="file">
                    {% for field in form %}
                        {% if field.html_name == 'file' %}
                            {% for error in field.errors %}
                                <p class="text text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary mr-2" id="submit-btn">Submit</button>
                    <div class="spinner-border mr-2" role="status" id="loading-div" style="display: none;">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'data_submission/scripts/script.js' %}"></script>
{% endblock %}