{% extends 'main/base.html' %}

{% block body %}
    <div class="container pt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'dash_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="plantText" class="text-success font-weight-bold">Plant</label>
                <input type="text" class="form-control" id="plantText" name="plant" aria-describedby="plantHelp" placeholder="Enter Plant Name">
                <small id="plantHelp" class="form-text text-muted">If the compounds from a specific plant then put plant name or left it blank.</small>
            </div>
            <div class="form-group">
                <label for="sdfFile" class="text-success font-weight-bold">Compound file input(sdf format)</label>
                <input type="file" class="form-control-file" id="sdfFile" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>

        <div>
            <div class="row mt-2">
                <h3>Review Contributor Data</h3>
            </div>
            {% for con in contributors %}
                <div class="row p-2 bg-info d-flex align-content-center">
                    <strong>{{ con.name }}</strong>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}