{% extends 'main/base.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'data_submission/css/styles.css' %}">
{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div id="form-div">
            <h4>Upload Direct</h4>
            <div>
                {% for error in form.non_field_errors %}
                    <p class="text text-danger">{{ error }}</p>
                {% endfor %}
                <div id="message" style="margin: 5px 10px"></div>
            </div>
            <form id="form-data" action="{% url 'dash:dash_upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="plant" class="text-success font-weight-bold">Plant</label>
                    <input type="text" class="form-control" id="plant" name="plant" aria-describedby="plantHelp"
                           placeholder="Enter Plant Name">
                    <small id="plantHelp" class="form-text text-muted">If the compounds from a specific plant then put
                        plant name or left it blank.</small>
                    {% for field in form %}
                        {% if field.html_name == 'plant' %}
                            {% for error in field.errors %}
                                <p class="text text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="newFile" class="text-success font-weight-bold">Compound file input</label>
                    <input type="file" class="form-control-file" id="file" name="file">
                    {% for field in form %}
                        {% if field.html_name == 'file' %}
                            {% for error in field.errors %}
                                <p class="text text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="d-flex">
                    <button type="submit" id="submit-btn" class="btn btn-primary mr-2">Upload</button>
                    <div class="spinner-border mr-2" role="status" id="loading-div" style="display: none;">
                        <span class="sr-only"></span>
                    </div>
                </div>

            </form>
        </div>

        <div>
            {% if object_list %}
                <div class="row mt-2">
                    <h3 class="profile-title">Review Contributor Data</h3>
                </div>
            {% endif %}
            {% for con in object_list %}
                {% if con.status == 0 %}
                    <div class="row p-2 d-flex mb-2" style="border-radius: 10px; background: #DBEABF">
                        <div class="col-md-4 py-2" style="margin: auto; border-radius: 10px">
                            <a href="#"><strong>{{ con.user.first_name }} {{ con.user.last_name }} : <span
                                    style="color: #65BF02">{{ con.plant_name }}</span></strong></a>
                            <small>{{ con.created_at }}</small>
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex justify-content-end">
                                <span class="ml-1"><a href="{% url "dash:show_data" con.id %}">Show</a></span>/
                                <span class="ml-1"><a
                                        href="{% url "dash:download_new_file" con.id %}">Download</a></span>/
                                <span class="ml-1"><a
                                        href="{% url 'dash:accept_submission_data' con.id %}">Accept</a></span>/
                                <span class="ml-1"><a
                                        href="{% url 'dash:reject_submission_data' con.id %}">Reject</a></span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'dashboard/scripts/script.js' %}"></script>
{% endblock %}