{% extends 'main/base.html' %}

{% block body %}
    <div class="container pt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <label for="plant">Plant name:</label>
                <input type="text" name="plant">
            </div>
            <div class="row">
                <input type="file" name="file">
            </div>
            <div class="row">
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
{% endblock %}