{% extends 'main/base.html' %}

{% block title %}{{ contributor }}'s new data | Phytochem Database{% endblock %}
{% block body %}
    <h1>{{ contributor }}'s new data</h1>
    <h2>Plant: {{ plant }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Smiles</th>
            <th>Molecular Formula</th>
            <th>Molecular Weight</th>
            <th>H-bond acceptor</th>
            <th>H-bond donor</th>
            <th>Molar Refractivity</th>
            <th>TPSA</th>
            <th>WlogP</th>
            <th>Molecule</th>
        </tr>
        </thead>
        <tbody>
        {% for comp in new_data %}
            <tr>
                <td>{{ comp.0 }}</td>
                <td>{{ comp.1 }}</td>
                <td>{{ comp.2 }}</td>
                <td>{{ comp.3 }}</td>
                <td>{{ comp.4 }}</td>
                <td>{{ comp.5 }}</td>
                <td>{{ comp.6 }}</td>
                <td>{{ comp.7 }}</td>
                <td>{{ comp.8|safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}