{% extends 'main/base.html' %}

{% block title %}{{ contributor }}'s new data{% endblock %}
{% block body %}
    <div class="container">
        <div>
            <div class="profile-title">{{ contribution.user.first_name }}'s new data</div>
            <div class="lead">Plant: <strong>{{ contribution.plant_name }}</strong></div>
            <div class="lead">Publication link: <a href="{{ contribution.pub_link }}">{{ contribution.pub_link }}</a></div>
            {% if contribution.data_description %}
                <div class="lead">Data description: </div>
                <p class="lead border">{{ contribution.data_description }}</p>
            {% endif %}
            {% if contribution.mendeley_data_link %}
                <div class="lead">Mendeley data link: <a href="{{ contribution.mendeley_data_link }}">{{ contribution.mendeley_data_link }}</a></div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-start mb-3">
            <span class="ml-1"><a href="{% url 'dash:accept_submission_data' contribution.id %}">Accept</a></span>/
            <span class="ml-1"><a href="{% url 'dash:reject_submission_data' contribution.id %}">Reject</a></span>/
            <span class="ml-1"><a href="{% url "dash:download_new_file" contribution.id %}">Download</a></span>
        </div>
    </div>
{% endblock %}