{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Forgot Password
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/account/css/style.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
                {% if errors %}
                    {% for error in errors %}
                        <p class="bg bg-danger font-weight-bold rounded p-2">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-10">
                <p>Please enter your email or phone</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control mb-2" name="email" placeholder="Email Address" required>
                        <button type="submit" class="btn btn-info">Find Account</button>
                        <span>
                            <form action="{% url 'main:index' %}">
                                <input type="submit" class="btn btn-success" value="Cancel"/>
                            </form>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
