{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static '/account/css/style.css' %}">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <main class="my-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Log In</div>
                        <div>
                            {% for error in form.non_field_errors %}
                                <p class="text text-danger px-3 font-weight-bold">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <form name="my-form" onsubmit="return validform()" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email" class="form-control" name="username"
                                               placeholder="E-Mail">
                                        {% for field in form %}
                                            {% if field.name == 'email' %}
                                                {% for error in field.errors %}
                                                    <p class="text text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password"
                                           class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password1" class="form-control" name="password"
                                               placeholder="Password">
                                        {% for field in form %}
                                            {% if field.name == 'password' %}
                                                {% for error in field.errors %}
                                                    <p class="text text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Log In
                                    </button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </main>






    {#    <div class="container">#}
    {#        <form method="post">#}
    {#            {% csrf_token %}#}
    {#            {% if form.errors %}#}
    {#                {% for error in form.non_field_errors %}#}
    {#                    <p class="text text-danger">{{ error }}</p>#}
    {#                {% endfor %}#}
    {#                {% for field in form %}#}
    {#                    {% for error in field.errors %}#}
    {#                        <p class="text text-danger">{{ error }}</p>#}
    {#                    {% endfor %}#}
    {#                {% endfor %}#}
    {#            {% endif %}#}
    {#            <div class="form-group">#}
    {#                <label for="exampleInputEmail1">Username or Email</label>#}
    {#                <input type="text" class="form-control" id="exampleInputEmail1" name="username"#}
    {#                       placeholder="Enter username or email">#}
    {#            </div>#}
    {#            <div class="form-group">#}
    {#                <label for="exampleInputPassword1">Password</label>#}
    {#                <input type="password" class="form-control" id="exampleInputPassword1" name="password"#}
    {#                       placeholder="Password">#}
    {#            </div>#}
    {#            <button type="submit" class="btn btn-primary">Submit</button>#}
    {#        </form>#}
    {#    </div>#}
{% endblock %}
