{% extends 'main/base.html' %}

{% block body %}
    <div class="container">
        <div class="bg-info font-weight-bold p-3">Profile Information</div>
        <div>
            <strong>Email: </strong>{{ user_d.email }} <br>
            <strong>First Name: </strong>{{ user_d.first_name }} <br>
            <strong>Last Name: </strong>{{ user_d.last_name }} <br>
            <strong>Location: </strong>{{ user_d.location }} <br>
            <strong>LinkedIn: </strong><a href="{{ user_d.linkedin }}">{{ user_d.linkedin }}</a> <br>
            <strong>ResearchGate: </strong><a href="{{ user_d.researchgate }}">{{ user_d.researchgate }}</a> <br>
            <strong>About: </strong>{{ user_d.about }} <br>
        </div>
        {% if user.username == user_d.username %}
            <div class="mt-3">
                <a class="btn btn-info mb-2" href="{% url 'user:profile_edit' %}">Edit Profile</a>
            </div>
        {% endif %}
        <div>
            {% for con in contributions %}
                    <div class="row d-flex mb-2 p-2" style="border-radius: 10px; background: #dbeabf">
                        <div class="col-md-4 py-2" style="margin: auto; border-radius: 10px">
                            <a href="#"><strong>{{ con.plant_name }}</strong></a>
                            <small>{{ con.created_at }}</small>
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex justify-content-end">
                                <div class="ml-1">
                                    {% if con.status == 0%}
                                        <span class="btn btn-info" >Reviewing</span>
                                    {% elif con.status == 1%}
                                        <span class="btn btn-success">Accepted</span>
                                    {% else %}
                                        <span class="btn btn-danger">Rejected</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}