{% extends 'main/base.html' %}
{% block title %}Edit profile{% endblock %}
{% block body %}
    <div class="container">
        <h2 align="center">Information</h2>
        <div>
            <form method="post">
                {% csrf_token %}
                {% for f in form %}
                    <div class="form-group">
                        {% if f.html_name == 'about' %}
                            <label for="inputId"
                                   class="text-success font-weight-bold">{{ f.html_name|capfirst }}</label>
                            <textarea class="form-control" id="inputId" name="{{ f.name }}"
                                       cols="40" rows="10" maxlength="500">{{ f.value }}</textarea>
                            {% for error in f.errors %}
                                <p class="text text-danger">{{ error }}</p>
                            {% endfor %}
                        {% else %}
                            <label for="inputId"
                                   class="text-success font-weight-bold">{{ f.html_name|capfirst }}</label>
                            <input type="{{ f.widget_type }}" class="form-control" id="inputId" name="{{ f.name }}"
                                   value="{{ f.value }}">
                            {% for error in f.errors %}
                                <p class="text text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}