{% extends 'main/base.html' %}
{% load static %}
{% block meta-attrs %}
    <meta name="description" content="{{ user_d.first_name }} {{ user_d.last_name }}'s profile in phytochemdb.com">
    <meta name="keywords"
          content="phytochemdb.com, phytochemical, compounds, {{ user_d.username }}, {{ user_d.first_name }}, {{ user_d.last_name }}">
{% endblock %}
{% block title %}{{ user_d.first_name }} {{ user_d.last_name }}'s profile{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}
{% block body %}
    <div class="container bg-white">
        {% for message in messages %}
            <div class="p-3 h5 rounded success-message">{{ message }}</div>
        {% endfor %}
        <div class="row d-flex">
            <div class="col-md-6">
                <div class="row d-flex justify-content-start p-2">
                    <div class="profile-title">{{ user_d.first_name }} {{ user_d.last_name }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row d-flex justify-content-end p-2">
                    {% if user.username == user_d.username %}
                        <a href="#" id="settingsMenuLink" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog fa-2x" style="color:#000000;"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="settingsMenuLink">
                            <a class="dropdown-item" href="{% url 'user:profile_edit' %}">
                                <button class="btn btn-outline-dark" type="button">Edit Profile</button>
                            </a>
                            <a class="dropdown-item" href="#">
                                <form action="{% url 'user:password_change' %}">
                                    <button class="btn btn-outline-dark" type="submit">Change Password</button>
                                </form>
                            </a>
                        </div>
                    {% endif %}
                    <!--                    <button type="button" class="btn btn-outline-dark">Edit Info</button>-->
                </div>
            </div>
        </div>
        <hr>
        <div class="row d-flex">
            <div class="col-md-6 mx-2">
                <div class="row d-flex justify-content-start py-2 px-2 profile-info ">
                    Profile Information
                </div>
                <div class="row d-flex justify-content-start py-1 px-2 ">
                    <div class="type-of-info"><strong>User Name:</strong></div>
                    <div class="user-name px-2">{{ user_d.first_name }} {{ user_d.last_name }}</div>
                </div>

                <div class="row d-flex justify-content-start py-1 px-2 ">
                    <div class="type-of-info"><strong>Location:</strong></div>
                    <div class="user-name px-2">{{ user_d.location }}</div>
                </div>

                <div class="row d-flex justify-content-start flex-column mt-2">
                    {% if user_d.email %}
                        <p class="mx-1 px-2">
                        <span class="fa-stack fa-1x">
                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                <i class="fa fa-envelope fa-stack-1x"></i>
                        </span>
                            <a class="dev-link-profile" href="mailto://{{ user_d.email }}">
                                {{ user_d.email }}
                            </a>
                        </p>
                    {% endif %}
                    {% if user_d.linkedin %}
                        <p class="mx-1 px-2">
                        <span class="fa-stack fa-1x">
                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                        </span>
                            <a class="dev-link-profile" href="{{ user_d.linkedin }}" target="_blank">
                                {{ user_d.linkedin }}
                            </a>
                        </p>
                    {% endif %}
                    {% if user_d.researchgate %}
                        <p class="mx-1 px-2">
                            <a class="dev-link-profile" href="{{ user_d.researchgate }}" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                                {{ user_d.researchgate }}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="row d-flex justify-content-start px-3 profile-info ">
                    About
                </div>
                <hr>
                <div class="about-researcher">{{ user_d.about }}</div>
            </div>
        </div>

        {% for con in contributions %}
            <div class="row d-flex mb-2 p-2 rounded" style="background: #e1e1f6">
                <div class="col-md-4 py-2 rounded" style="margin: auto;">
                    <a href="#"><strong>{{ con.plant_name }}</strong></a>
                    <small>{{ con.created_at }}</small>
                </div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-end">
                        <div class="ml-1">
                            {% if con.status == 0 %}
                                <span class="btn btn-light">Reviewing</span>
                            {% elif con.status == 1 %}
                                <span class="btn btn-success">Accepted</span>
                            {% else %}
                                <span class="btn btn-danger">Rejected</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}