{% extends 'main/base.html' %}

{% block body %}
    <div class="container">
        <h1>Register</h1>
        <div>
            {% for error in form.non_field_errors %}
                <p class="text text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <form action="{% url 'user:register' %}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_p }}
            </table>
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="text text-danger">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Sign Up">

        </form>
    </div>
{% endblock %}