{% extends "main/base.html" %}
{% load static %}
{% block meta-attrs %}
    <meta name="description" content="About phytochemdb.com project">
{% endblock %}
{% block title %}About{% endblock %}
{% block body %}
    <div class="container pt-3">
        <p class="lead" style="text-align: justify">The premier phytochemical database, <a href="https://phytochemdb.com">phytochemdb.com</a>, represents an authentic
            repository site for plant-derived phytochemicals that can ameliorate
            <span style="font-weight: bold; color: #34495E">Computer-Aided Drug Design</span>,
            <span style="font-weight: bold; color: #34495E">Lead Optimization</span>,
            <span style="font-weight: bold; color: #34495E">Virtual Screening</span> and
            <span style="font-weight: bold; color: #34495E">Molecular Docking</span>
            as well as in the bioinformatics sector.
            <br>
            Currently, <span style="font-weight: bold; color: #34495E">{{ n_plants }}</span> plants from the Asian territory and their corresponding
            <span style="font-weight: bold; color: #34495E">{{ n_compounds }}</span>
            phytochemicals are available in this database that will escalate promptly.
            <br>
            Three dimensional (3D) structures in tandem with Canonical SMILES are incorporated in the database with the intention of facile retrieval
            of phytochemical-related information. This sumptuous database assembles the physicochemical properties inclusive of
            <span style="font-weight: bold; color: #34495E">Molecular Formula</span>,
            <span style="font-weight: bold; color: #34495E">Molecular Weight</span>,
            <span style="font-weight: bold; color: #34495E">No. of heavy atoms,</span>
            <span style="font-weight: bold; color: #34495E">No. of aromatic heavy atoms</span>,
            <span style="font-weight: bold; color: #34495E">Fraction Csp3</span>,
            <span style="font-weight: bold; color: #34495E">No. of rotatable bonds</span>,
            <span style="font-weight: bold; color: #34495E">No. of H-bond acceptors</span>,
            <span style="font-weight: bold; color: #34495E">No. H-bond donors</span>,
            <span style="font-weight: bold; color: #34495E">Molar Refractivity</span>, and
            <span style="font-weight: bold; color: #34495E">TPSA (Topological polar surface area)</span>.
            Furthermore, <span style="font-weight: bold; color: #34495E">the assessment of pharmacokinetics properties</span>, including
            <span style="font-weight: bold; color: #34495E">GI absorption</span>,
            <span style="font-weight: bold; color: #34495E">BBB permeant</span>,
            <span style="font-weight: bold; color: #34495E">P-gp substrate</span>,
            <span style="font-weight: bold; color: #34495E">CYP1A2 inhibitor</span>,
            <span style="font-weight: bold; color: #34495E">CYP2C19 inhibitor</span>,
            <span style="font-weight: bold; color: #34495E">CYP2C9 inhibitor</span>,
            <span style="font-weight: bold; color: #34495E">CYP2D6 inhibitor</span>,
            <span style="font-weight: bold; color: #34495E">CYP3A4 inhibitor</span>, and
            <span style="font-weight: bold; color: #34495E">Log Kp (skin permeation)</span>,
            is available in that immense database. Additionally,
            <span style="font-weight: bold; color: #34495E">drug-likeness prominences-oriented assessment</span>,
            such as <span style="font-weight: bold; color: #34495E">Lipinski rule of five</span>,
            <span style="font-weight: bold; color: #34495E">Ghose</span>,
            <span style="font-weight: bold; color: #34495E">Veber</span>,
            <span style="font-weight: bold; color: #34495E">Egan</span>,
            <span style="font-weight: bold; color: #34495E">Muegge</span>, and
            <span style="font-weight: bold; color: #34495E">Bioavailability Score</span>, is assembled in the database. Supplementarily,
            the massive database congregates <span style="font-weight: bold; color: #34495E">medicinal chemistry-based features</span> inclusive of
            <span style="font-weight: bold; color: #34495E">PAINS</span>,
            <span style="font-weight: bold; color: #34495E">Brenk</span>,
            <span style="font-weight: bold; color: #34495E">Leadlikeness</span>, and
            <span style="font-weight: bold; color: #34495E">Synthetic accessibility</span> in
            conjunction with <span style="font-weight: bold; color: #34495E">lipophilicity properties</span> such as
            <span style="font-weight: bold; color: #34495E">iLogP</span>.
            <br>
            Anyone can inquiry about phytochemicals by the unique accession number,
            <span style="font-weight: bold; color: #34495E">Canonical SMILES</span>,
            <span style="font-weight: bold; color: #34495E">Molecular formula</span>
            and plant names as well. Phytochemicals obtained from each plant can be found all together by simply
            searching the name of the plant.
            <br>
            This plant-derived phytochemical database will be immensely efficient for the researchers, professors, and
            learners of bioinformatics who are inquisitive at <span style="font-weight: bold; color: #34495E">Computer-Aided Drug Design</span>,
            <span style="font-weight: bold; color: #34495E">Lead Optimization</span>,
            <span style="font-weight: bold; color: #34495E">Virtual Screening</span> and
            <span style="font-weight: bold; color: #34495E">Molecular Docking</span>.
            <br>
            Researchers who have screened phytochemicals in their laboratory and already published their data can
            contribute to this database. They can upload the three-dimensional structure of the phytochemicals in this
            database and the new uploaded compound will get a unique accession number after passing the review
            procedure.
            <br>
            For submission of data kindly follow the <a href="{% url 'data_submission:index' %}">link</a>. You
            will need to create a free account first.
        </p>
    </div>
{% endblock %}
