{% extends "main/base.html" %}
{% load static %}
{% block meta-attrs %}
    <meta name="description" content="About phytochemdb.com project">
    <meta name="keywords" content="phytochemdb.com, phytochemical, compounds, about">
{% endblock %}
{% block title %}About{% endblock %}
{% block body %}
    <div class="container pt-3">
        <p class="lead" style="text-align: justify">The premier phytochemical database, <a href="https://phytochemdb.com">phytochemdb.com</a>, represents an authentic
            repository site for plant-derived phytochemicals that can ameliorate
            <span style="font-weight: bold; color: #34495E">Computer-Aided Drug Design</span>,
            <span style="font-weight: bold; color: #34495E">Lead Optimization</span>,
            <span style="font-weight: bold; color: #34495E">Virtual Screening</span> and
            <span style="font-weight: bold; color: #34495E">Molecular Docking</span>
            as well as in the bioinformatics sector.
            <br>
            Currently, <span style="font-weight: bold; color: #34495E">{{ n_plants }}</span> plants from the Asian territory and their corresponding
            <span style="font-weight: bold; color: #34495E">{{ n_compounds }}</span>
            phytochemicals are available in this database that will escalate promptly.
            <br>
            This database assembles the
            <span style="font-weight: bold; color: #34495E">Molecular Formula</span>,
            <span style="font-weight: bold; color: #34495E">3D structure</span>,
            <span style="font-weight: bold; color: #34495E">Canonical SMILES</span>,
            <span style="font-weight: bold; color: #34495E">Molecular Weight</span>,
            <span style="font-weight: bold; color: #34495E">Hydrogen Bond</span>,
            <span style="font-weight: bold; color: #34495E">Acceptor Count</span>,
            <span style="font-weight: bold; color: #34495E">Hydrogen Bond Donor Count</span>,
            <span style="font-weight: bold; color: #34495E">Molar Refractivity</span>,
            <span style="font-weight: bold; color: #34495E">Topological polar surface area (TPSA)</span>,
            <span style="font-weight: bold; color: #34495E">WlogP</span> and
            <span style="font-weight: bold; color: #34495E">Lipinski</span>
            rule of five with the number of violations for each compound.
            <br>
            Anyone can inquiry about phytochemicals by the unique accession number,
            <span style="font-weight: bold; color: #34495E">Canonical SMILES</span>,
            <span style="font-weight: bold; color: #34495E">Molecular formula</span>
            and plant names as well. Phytochemicals obtained from each plant can be found all together by simply
            searching the name of the plant.
            <br>
            This plant-derived phytochemical database will be immensely efficient for the researchers, professors, and
            learners of bioinformatics who are inquisitive at <span style="font-weight: bold; color: #34495E">Computer-Aided Drug Design</span>,
            <span style="font-weight: bold; color: #34495E">Lead Optimization</span>,
            <span style="font-weight: bold; color: #34495E">Virtual Screening</span> and
            <span style="font-weight: bold; color: #34495E">Molecular Docking</span>.
            <br>
            Researchers who have screened phytochemicals in their laboratory and already published their data can
            contribute to this database. They can upload the three-dimensional structure of the phytochemicals in this
            database and the new uploaded compound will get a unique accession number after passing the review
            procedure.
            <br>
            For submission of data kindly follow the <a href="{% url 'contribute:submit_data' %}">link</a>. You
            will need to create a free account first.
        </p>
    </div>
{% endblock %}