<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta-attrs %}
    {% endblock %}

    <title>
        {% if not title %}
            {% block title %}
            {% endblock %}
            | Phytochem Database
        {% else %}
            {{ title }}
        {% endif %}
    </title>
    <link rel="shortcut icon" href="{% static '/main/images/phytochem-title-icon.png' %}" type="image/x-icon">

    <!--Some Font Added-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Offside&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:ital,wght@0,500;1,400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap">
    <!--Font Awsome link adding-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--bootstrap file added-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Project Statics-->
    <link rel="stylesheet" href="{% static '/main/CSS/style.css' %}">
    <link rel="stylesheet" href="{% static '/main/CSS/homepage-style.css' %}">
    <link rel="stylesheet" href="{% static '/main/CSS/about-page-style.css' %}">

    <!-- Project App Statics-->
    {% block link %}
    {% endblock %}

</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-scroll">
    <div class="container">
        <a class="navbar-brand" href="/">phytochemdb<span>.</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% with request.resolver_match.view_name as view_name %}
            <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'main:about' %}active{% endif %}"
                           href="{% url 'main:about' %}">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if 'main:members' in view_name %}active{% endif %}"
                           href="#" id="member" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">Members</a>
                        <div class="dropdown-menu" aria-labelledby="member">
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-research-team' %}active{% endif %}"
                               href="{% url 'main:member-research-team' %}">Research
                                Team</a>
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-dev-team' %}active{% endif %}"
                               href="{% url 'main:member-dev-team' %}">Developer
                                Team</a>
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-supervisors' %}active{% endif %}"
                               href="{% url 'main:member-supervisors' %}">Supervisors</a>
                        </div>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'dash:dashboard' %}active{% endif %}"
                               href="{% url 'dash:dashboard' %}">Dashboard</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'user:profile' %}active{% endif %}"
                               href="{% url 'user:profile' user.id %}">{{ user.first_name }}</a>
                        </li>
                        <li class="nav-item {% if view_name == 'user:logout' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'user:logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'user:login' %}active{% endif %}"
                               href="{% url 'user:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'user:register' %}active{% endif %}"
                               href="{% url 'user:register' %}">Register</a>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <img src="{% static '/main/images/login.png' %}" alt="login">
                    </li>
                </ul>
            </div>
        {% endwith %}
    </div>
</nav>
<!--header Area or Nav area has Finished-->

{% block body %}
{% endblock %}


<footer class="footer py-3 mt-auto">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <p href="">
                <img src="{% static '/main/images/phytochem-icon.png' %}" alt="Phytochem-icon">
            </p>
        </div>
        <div class="row d-flex justify-content-center pb-3">
            <div class="footer-title">phytochem database</div>
        </div>
        {#                <div class="row d-flex justify-content-center ">#}
        {#                    <a href="">#}
        {#                        <i class="fa fa-facebook-official px-2 footer-icon-color"></i>#}
        {#                    </a>#}
        {#                    <a href="">#}
        {#                        <i class="fa fa-linkedin-square px-2 footer-icon-color"></i>#}
        {#                    </a>#}
        {#                    <a href="">#}
        {#                        <i class="fa fa-twitter fa-1x px-2 footer-icon-color"></i>#}
        {#                    </a>#}
        {#                    <a href="">#}
        {#                        <i class="fa fa fa-youtube-play px-2 footer-icon-color"></i>#}
        {#                    </a>#}
        {#                    <a href="">#}
        {#                        <i class="fa fa-github px-2 footer-icon-color"></i>#}
        {#                    </a>#}
        {#                    <a class="px-2" href="/" target="_blank">#}
        {#                        <img src="{% static '/main/images/researchgate-logo-16px.png' %}" alt=" researchgate-icon">#}
        {#                    </a>#}
        {#                </div>#}
        <hr style="border-color: rgba(255,255,255,0.1);">
        <div class="row d-flex justify-content-center py-3">
            <div class="col-md-6">
                <div class="row footer-icon-color">
                    <div class="col-md-4">
                        <a href="{% url 'main:about' %}">
                            <p class="footer-icon-color">About</p>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'contribute:submit_data' %}">
                            <p class="footer-icon-color">Contribute</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row d-flex justify-content-start px-3 footer-icon-color">
                    Contact with us
                </div>
                <div class="row" style="font-size:0.9em;">
                    <div class="col-md-6">
                        <div class="py-2" style="color: #a8a8a8;">Shafi Mahmud</div>
                        <p>
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-envelope fa-stack-1x icon-backgroun"></i>
                                </span>
                            <a href="mailto://shafimahmudfz@gmail.com" class="card-link text-break py-2">shafimahmudfz@gmail.com</a>
                        </p>
                        <p>
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-phone fa-stack-1x"></i>
                                </span>
                            <a href="tel:+8801679770136">+880 1679-770136</a>
                        </p>

                    </div>

                    <div class="col-md-6">
                        <div class="p-2" style="color: #a8a8a8;">Dr. Md. Abu Saleh</div>
                        <p>
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-envelope fa-stack-1x icon-backgroun"></i>
                                </span>
                            <a href="mailto://saleh@ru.ac.bd"
                               class="card-link text-break py-2">saleh@ru.ac.bd</a>
                        </p>
                        <p>
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                    <i class="fa fa-phone fa-stack-1x"></i>
                                </span>
                            <a href="tel:+8801716731747">+880 1716-731747</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-start p-2">

            <p class="footer-icon-color">&copy 2020 phytochemdb.com</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'main/scripts/dropdown.js' %}"></script>
<script>
    $(document).ready(function () {
        var pathname = window.location.pathname;
        if (pathname == "/")
            $('.navbar', 'body').addClass("sticky");
        else
            $('.navbar', 'body').removeClass("sticky");
    });
    $(document).ready(function () {
        var pathname = window.location.pathname;
        if (pathname == "/")
            $('body').addClass("st");
        else
            $('body').removeClass("st");
    });
    $(document).ready(function () {
        var width = $(window).width();
        var height = $(window).height();
        if (width <= 400 && height <= 800)
            $("#hide").click(function () {
                $(".homepage-text-2").hide();
            });
    });
    $(window).scroll(function () {
        if ($(window).scrollTop() >= 50) {
            $('.navbar').css('background', 'linear-gradient(to right,#1a005e, #060009,#330148)');
        } else {
            $('.navbar').css('background', 'transparent');
        }
    });
</script>
</body>
</html>
