<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A large and scientific rigorous phytochemical
                                      database dedicated to Computer-Aided Drug Designing,
                                      Lead Optimization, Virtual Screening and Molecular Docking."/>
    <title>
        {% if not title %}
            {% block title %}
            {% endblock %}
        {% else %}
            {{ title }}
        {% endif %}
    </title>
    <link rel="shortcut icon" href="{% static '/main/images/title-icon.png' %}" type="image/x-icon">

    <!--Some Font Added-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Offside&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:ital,wght@0,500;1,400&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap">
    <!--Font Awsome link adding-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--bootstrap file added-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Project Statics-->
    <link rel="stylesheet" href="{% static '/main/CSS/style.css' %}">
    <link rel="stylesheet" href="{% static '/main/CSS/homepage-style.css' %}">
    <link rel="stylesheet" href="{% static '/main/CSS/about-page-style.css' %}">

    <!-- Project App Statics-->
    {% block link %}
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-scroll">
    <div class="container">
        <a class="navbar-brand" href="/">phytochemdb<span>.</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% with request.resolver_match.view_name as view_name %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if view_name == 'main:index' %}active{% endif %}">
                        <a class="nav-link" href="/">Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'main:about' %}active{% endif %}"
                           href="{% url 'main:about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'contribute:submit-data' %}active{% endif %}"
                           href="{% url 'contribute:submit_data' %}">Submit</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if 'main:members' in view_name %}active{% endif %}"
                           id="member" href="{% url 'main:members' %}" role="button"
                           aria-haspopup="true" aria-expanded="false">Members</a>
                        <div class="dropdown-menu" aria-labelledby="member">
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-research-team' %}active{% endif %}"
                               href="{% url 'main:member-research-team' %}">Research
                                Team</a>
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-dev-team' %}active{% endif %}"
                               href="{% url 'main:member-dev-team' %}">Developer
                                Team</a>
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-supervisors' %}active{% endif %}"
                               href="{% url 'main:member-supervisors' %}">Supervisors</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'main:contact' %}active{% endif %}"
                           href="{% url 'main:contact' %}">Contact</a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'dash:dashboard' %}active{% endif %}"
                               href="{% url 'dash:dashboard' %}">Dashboard</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'user:profile' %}active{% endif %}"
                               href="{% url 'user:profile' user.id %}">{{ user.first_name }}</a>
                        </li>
                        <li class="nav-item {% if view_name == 'user:logout' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'user:logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'user:login' %}active{% endif %}"
                               href="{% url 'user:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'user:register' %}active{% endif %}"
                               href="{% url 'user:register' %}">Register</a>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <img src="{% static '/main/images/login.png' %}" alt="login">
                    </li>
                </ul>
            </div>
        {% endwith %}
    </div>
</nav>
<!--header Area or Nav area has Finished-->

{% block body %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'main/scripts/dropdown.js' %}"></script>
<script>
    $(document).ready(function () {
        var pathname = window.location.pathname;
        if (pathname == "/")
            $('.navbar', 'body').addClass("sticky");
        else
            $('.navbar', 'body').removeClass("sticky");
    });
    $(document).ready(function () {
        var pathname = window.location.pathname;
        if (pathname == "/")
            $('body').addClass("st");
        else
            $('body').removeClass("st");
    });
    $(document).ready(function () {
        var width = $(window).width();
        var height = $(window).height();
        if (width <= 400 && height <= 800)
            $("#hide").click(function () {
                $(".homepage-text-2").hide();
            });
    });
</script>
</body>
</html>
