<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta-attrs %}
    {% endblock %}

    <title>{% block title %}{% endblock %} - PhytochemDB</title>

    <link rel="shortcut icon" href="{% static '/main/images/phytochem-title-icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static '/main/CSS/style.css' %}">
    <link rel="stylesheet" href="{% static '/main/CSS/homepage-style.css' %}">
    <link rel="stylesheet" href="{% static '/main/CSS/about-page-style.css' %}">

    {% block link %}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-scroll">
    <div class="container">
        <a class="navbar-brand" href="/">phytochemdb<span>.</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% with request.resolver_match.view_name as view_name %}
            <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'main:index' %}active{% endif %}"
                           href={% url 'main:index' %}>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if view_name == 'main:about' %}active{% endif %}"
                           href="{% url 'main:about' %}">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if 'main:member' in view_name %}active{% endif %}"
                           href="#" id="member" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">Members</a>
                        <div class="dropdown-menu" aria-labelledby="member">
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-research-team' %}active{% endif %}"
                               href="{% url 'main:member-research-team' %}">Research Team</a>
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-dev-team' %}active{% endif %}"
                               href="{% url 'main:member-dev-team' %}">Developer Team</a>
                            <a class="nav-dropdown dropdown-item {% if view_name == 'main:member-supervisors' %}active{% endif %}"
                               href="{% url 'main:member-supervisors' %}">Supervisors</a>
                        </div>
                    </li>

                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle
                               {% if 'account:' in view_name or 'dash:dashboard' in view_name %}active{% endif %}"
                               href="#" id="navbarProfileMenuLink" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                {{ user.first_name }} &nbsp;
                                <i class="fa fa-user"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarProfileMenuLink">
                                <a class="dropdown-item {% if view_name == 'account:profile' %}active{% endif %}"
                                   href="{% url 'account:profile' user.id %}">Profile</a>
                                {% if request.user.is_superuser %}
                                    <a class="dropdown-item {% if view_name == 'dash:dashboard' %}active{% endif %}"
                                       href="{% url 'dash:dashboard' %}">Dashboard</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'account:logout' %}">Log Out</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'account:login' %}active{% endif %}"
                               href="{% url 'account:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'account:register' %}active{% endif %}"
                               href="{% url 'account:register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endwith %}
    </div>
</nav>

<div class="fluid">
    {% if messages %}
        {% for message in messages %}
            {% if request.path == '/' %}
                <div class="{% if message.tags == 'success' %}alert alert-success{% else %}alert alert-danger{% endif %}
                font-weight-bold" align="center" role="alert" style="float:top; position: absolute;">
                    {{ message }}
                </div>
            {% else %}
                <div class="{% if message.tags == 'success' %}alert alert-success{% else %}alert alert-danger{% endif %}
                font-weight-bold" align="center" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<div id="wrapper">
    {% block body %}
    {% endblock %}
</div>
<footer class="footer py-3 mt-auto">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <p>
                <img src="{% static '/main/images/phytochem-icon.png' %}" alt="Phytochem-icon">
            </p>
        </div>
        <div class="row d-flex justify-content-center pb-3">
            <div class="footer-title">phytochem database</div>
        </div>
        <hr style="border-color: rgba(255,255,255,0.1);">
        <div class="row d-flex justify-content-center py-3">
            <div class="col-md-6">
                <div class="row footer-icon-color">
                    <div class="col-md-4">
                        <a href="{% url 'main:about' %}">
                            <p class="footer-icon-color">About</p>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'data_submission:index' %}">
                            <p class="footer-icon-color">Contribute</p>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'main:all-file-download' %}">
                            <p class="footer-icon-color">Download dataset</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row d-flex justify-content-start px-3 footer-icon-color h5">Contact with us</div>
                <hr style="border-color: rgba(255,255,255,0.1);">
                <div class="row" style="font-size:0.9em;">
                    <div class="col-md-6">
                        <div class="py-2" style="color: #a8a8a8;">Shafi Mahmud</div>
                        <p>
                            <span class="fa-stack fa-1x">
                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                <i class="fa fa-envelope fa-stack-1x"></i>
                            </span>
                            <a href="mailto://shafimahmudfz@gmail.com" class="card-link text-break py-2">
                                shafimahmudfz@gmail.com
                            </a>
                        </p>
                        <p>
                            <span class="fa-stack fa-1x">
                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                <i class="fa fa-phone fa-stack-1x"></i>
                            </span>
                            <a href="tel:+8801679770136">+880 1679-770136</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="p-2" style="color: #a8a8a8;">Dr. Md. Abu Saleh</div>
                        <p>
                            <span class="fa-stack fa-1x">
                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                <i class="fa fa-envelope fa-stack-1x"></i>
                            </span>
                            <a href="mailto://saleh@ru.ac.bd"
                               class="card-link text-break py-2">saleh@ru.ac.bd</a>
                        </p>
                        <p>
                            <span class="fa-stack fa-1x">
                                <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                <i class="fa fa-phone fa-stack-1x"></i>
                            </span>
                            <a href="tel:+8801716731747">+880 1716-731747</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-start p-2">
            <p class="footer-icon-color">&copy; 2020 phytochemdb.com</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'main/scripts/script.js' %}"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
