{% extends "main/base.html" %}
{% load static %}
{% load main_extras %}

{% block title %}{{ compound.PID }} | Phytochem Database{% endblock %}
{% block body %}
    <div class="container shadow-sm bg-white">
        <div class="row p-2 rounded plant-title ">
            <div class="col-md d-flex justify-content-center">
                <img class="ml-2 mr-2 plant-image" src="{% static '/main/images/Chemical.png' %}" alt="Logo">
                <p class="chemical-title">{{ compound.Molecular_Formula|chem_formula|safe }}</p>
            </div>
            <div class="w-100 p-2 chemical-id-top">
                <span class="float-left">
                    <a href="#" class="p-2 rounded">{{ compound.PID|short_id }}</a></span>
                <span class="float-right">
                    <a class="p-2 rounded download-as-option" href="{% url 'main:download_compound' compound.PID %}">Download</a>
                </span>
            </div>
        </div>
        <div class="chemical-about mt-2 mb-2">The phytochem is found in these plants</div>
        <div class="row mb-3 ml-2 mt-2 chemical-recomand-parent justify-content-start">
            {% for plant in compound.plants.all %}
                <a class="chemical-recomand" href="{% url "main:plant" plant.id %}">
                    {{ plant.name }}
                </a>
            {% endfor %}
        </div>
        <div class="row mb-3">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <img class="img-responsive mx-auto d-block" src="{{ compound.ROMol }}" alt="">
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Molecular Formula:</td>
                    <td>{{ compound.Molecular_Formula|chem_formula|safe }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Canonical SMILES:</td>
                    <td class="smile">{{ compound.Smiles }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Molecular Weight:</td>
                    <td>{{ compound.Molecular_Weight|floatformat:3 }} g/mol</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Hydrogen Bond Acceptor Count:</td>
                    <td>{{ compound.H_Bond_Acceptors }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Hydrogen Bond Donor Count:</td>
                    <td>{{ compound.H_Bond_Donors }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Molar Refractivity:</td>
                    <td>{{ compound.Molar_Refractivity|floatformat:3 }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">TPSA:</td>
                    <td>{{ compound.TPSA|floatformat:3 }} Å²</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">WlogP:</td>
                    <td>{{ compound.logP|floatformat:3 }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Lipinski:</td>
                    <td>
                        {% if lipinski < 2 %}
                            Yes, {{ lipinski }} violation
                        {% else %}
                            No, {{ lipinski }} violations
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}