{% extends "main/base.html" %}
{% load static %}
{% block meta-attrs %}
    <meta name="description" content="Contact us | phytochemdb.com">
{% endblock %}
{% block title %}Contact{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card shadow-sm col-md-8">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-6 my-auto">
                            <h4 style="font-family:Roboto,'san-serif';color:#212529;"
                                class="card-title p-2 text-center">Shafi Mahmud</h4>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card-title">
                                <p>
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-envelope fa-stack-1x icon-backgroun"></i>
                                    </span>
                                    <a href="mailto://shafimahmudfz@gmail.com" class="card-link text-break py-2">shafimahmudfz@gmail.com</a>
                                </p>
                                <p>
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-phone fa-stack-1x"></i>
                                    </span>
                                    <a href="tel:+8801679770136">+880 1679-770136</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--      -->
                    <hr>

                    <div class="row ">
                        <div class="col-md-6 my-auto">
                            <h4 style="font-family:Roboto,'san-serif';color:#212529;"
                                class="card-title p-2 text-center">Dr. Md. Abu Saleh</h4>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card-title">
                                <p>
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-envelope fa-stack-1x icon-backgroun"></i>
                                    </span>
                                    <a href="mailto://saleh@ru.ac.bd" class="card-link">saleh@ru.ac.bd</a>
                                </p>
                                <p>
                                    <span class="fa-stack fa-2x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-phone fa-stack-1x"></i>
                                    </span>
                                    <a href="tel:+8801716731747">+880 1716-731747</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}