{% extends "main/base.html" %}
{% load static %}
{% block title %}Contact | Phytochem Database{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Shafi Mahmud</h5>
                    <h6 class="card-title mb-2 text-muted">Lead Designer of this Database</h6>
                    <h6 class="card-title mb-2 text-muted">MS student at Genetic Engineering and Biotechnology,
                        University of Rajshahi</h6>
                    <p>Email: <a href="mailto://shafimahmudfz@gmail.com" class="card-link">shafimahmudfz@gmail.com</a>
                    </p>
                    <p><a href="https://www.linkedin.com/in/shafi-mahmud-870483124" class="card-link">LinkedIn</a>
                    <p><a href="https://www.researchgate.net/profile/Shafi_Mahmud2"
                          class="card-link">ResearchGate</a></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dr. Md. Abu Saleh</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Associate Professor at Department of Genetic Engineering
                        and biotechnology, University of Rajshahi. Bangladesh
                    </h6>
                    <p>Currently I am working as an Associate Professor in the Department of Genetic Engineering and
                        Biotechnology at the University of Rajshahi, Bangladesh. I received my PhD on enzymology and
                        enzyme kinetics from CAS, China. My research focuses on microbiology, enzymology, medicinal
                        chemistry, bioinformatics, and protein modeling.
                    </p>

                    <p>Email: <a href="mailto://saleh@ru.ac.bd" class="card-link">saleh@ru.ac.bd</a></p>
                    <p><a href="https://www.linkedin.com/in/dr-md-abu-saleh-a1144553/"
                          class="card-link">LinkedIn</a></p>
                    <p><a href="https://www.researchgate.net/profile/Md_Saleh3" class="card-link">ResearchGate</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}