{% extends "main/base.html" %}
{% load static %}
{% block title %}Contact | Phytochem Database{% endblock %}
{% block body %}
    <div class="container">
        <h2 align="center">Developer Team</h2>
        <div class="card">
            <h5 class="card-title">Sheikh Ahaduzzaman</h5>
            <h6 class="card-subtitle mb-2 text-muted">Undergraduate student at Dept. of Computer Science and
                Engineering, University of Rajshahi</h6>
            <p>Email: <a href="mailto://ahadsheikh1999@gmail.com"
                         class="card-link">abdulahadsheikh1999@gmail.com</a>
            </p>
            <p><a href="https://www.linkedin.com/in/ahadsheikh"
                  class="card-link">LinkedIn</a></p>
            <p><a href="https://github.com/ahadsheikh" class="card-link">Github</a></p>
        </div>
        <div class="card">
            <h5 class="card-title">Shafquat Mahbub</h5>
            <h6 class="card-subtitle mb-2 text-muted">Undergraduate student at Dept. of Computer Science and
                Engineering, University of Rajshahi</h6>
            <p>Email: <a href="mailto://mahbub.shafquat@gmail.com"
                         class="card-link">mahbub.shafquat@gmail.com</a>
            </p>
            <p><a href="https://www.linkedin.com/in/shafquat-mahbub"
                  class="card-link">LinkedIn</a></p>
            <p><a href="https://github.com/MShafquat" class="card-link">Github</a></p>
        </div>
        <div class="card">
            <h5 class="card-title">Md Sohanur Rahman</h5>
            <h6 class="card-subtitle mb-2 text-muted">Undergraduate student at Dept. of Computer Science and
                Engineering, University of Rajshahi</h6>
            <p>Email: <a href="mailto://mdsohanurrahman63@gmail.com"
                         class="card-link">mdsohanurrahman63@gmail.com</a>
            </p>
            <p><a href="https://www.linkedin.com/in/md-sohanur-rahman-3aaa3b150/"
                  class="card-link">LinkedIn</a></p>
            <p><a href="https://github.com/SohanCSERU" class="card-link">Github</a></p>
        </div>
        <div class="card">
            <h5 class="card-title">Anik Modak</h5>
            <h6 class="card-subtitle mb-2 text-muted">Undergraduate student at Dept. of Computer Science and
                Engineering, University of Rajshahi</h6>
            <p>Email: <a href="mailto://anikmodak555@gmail.com"
                         class="card-link">anikmodak555@gmail.com</a>
            </p>
            <p><a href="linkedin.com/in/anik-modak-b06bb8178/"
                  class="card-link">LinkedIn</a></p>
            <p><a href="https://github.com/Anik-Modak" class="card-link">Github</a></p>
        </div>
    </div>
{% endblock %}