{% extends "main/base.html" %}
{% load static %}
{% block meta-attrs %}
    <meta name="description" content="phytochemdb.com developers">
{% endblock %}
{% block title %}Developer Team{% endblock %}
{% block body %}
    <div class="container bg-white shadow-sm">
        <div class="row pl-2">
            <div class="col-md-6 my-auto">
                <div class="font-italic team-name row flex-column align-items-center">
                    <div class="developer-cls">Developer</div>
                    <div class="team-cls">Team</div>
                </div>
            </div>
            <div class="col-md-6 about-developer" style="height:90vh;">
                <!--  Abdul Ahad Sheikh profile   -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Sheikh Ahaduzzaman</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Undergraduate student at Dept. of Computer Science and
                        Engineering <br>University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://ahadsheikh.cs@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/ahadsheikh" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Shafquat Mahbub Profile    -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Shafquat Mahbub</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mt-2 mx-2 collaborator-about">About</h3>
                    <h6 class="mb-2 mx-2 text-muted">Undergraduate student at Dept. of Computer Science and
                        Engineering <br>University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://mahbub.shafquat@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x "></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/shafquat-mahbub" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!--   About Md Sohanur Rahman        -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Md. Sohanur Rahman</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mt-2 mx-2 collaborator-about">About</h3>
                    <h6 class="mb-2 mx-2 text-muted">Undergraduate student at Dept. of Computer Science and
                        Engineering <br>University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://mdsohanurrahman63@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x "></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/md-sohanur-rahman-3aaa3b150/" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!--  Anik Modok     -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Anik Modak</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mt-2 mx-2 collaborator-about">About</h3>
                    <h6 class="mb-2 mx-2 text-muted">Undergraduate student at Dept. of Computer Science and
                        Engineering <br>University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://anikmodak.rucse@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x "></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://linkedin.com/in/anik-modak-b06bb8178/" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
