{% extends "main/base.html" %}
{% load static %}

{% block title %}Home | Phytochem Database{% endblock %}
{% block body %}
    <main class="site-main">
        <div class="container row justify-content-center align-items-center">
            <div class="site-title col-md-7 justify-content-center align-items-center">
                <div class="intro text-uppercase">Find among {{ n_compounds }}</div>
                <div class="intro text-uppercase"><span class="phytochem">Phytochemical</span>
                    data
                </div>
                <div class="intro text-uppercase">From {{ n_plants }} plants</div>
                <div class="details">Search the database by a unique accession id, e.g., Phytochem_000001 or
                    just 1,
                    by a molecular formula or its canonical SMILES.<br>Download all data as an <a
                            href="{% url "all-file-download" %}" class="sdf">sdf</a> file
                </div>
                <div class="details">You can contribute to this dataset too, visit <a href="{% url "submit_data" %}">this
                    link</a></div>
            </div>
            <div class="col-lg-6 col-md-4 ml-auto p-2">
                <form action="{% url 'results' %}" method="get">
                    <input class="search shadow-lg" name="search" value="{{ request.GET.search }}"
                           type="text" id="search" placeholder="Search Element E.x: C28H56"/>
                    <input class="submit shadow-lg" type="submit" value=" "/>
                </form>
            </div>
        </div>
    </main>
{% endblock %}