{% extends "main/base.html" %}
{% load static %}

{% block title %}Home | Phytochem Database{% endblock %}
{% block body %}
        <header>
            <div class="container">
                <div class="row d-flex align-items-start justify-content-center flex-column col-md-6" style="height: 100vh;">
                    <div class="text-item mb-1 p-1">FIND AMONG {{ n_compounds }}</div>
                    <div class="text-item mb-1 p-1 phytochem"><span>PHYTOCHEMICAL</span> DATA</div>
                    <div class="text-item mb-1 p-1">FROM {{ n_plants }} PLANTS</div>
                    <div class="details">You can contribute to this dataset too, visit <a href="{% url "submit_data" %}">this
                    link</a></div>
                    <!-- Search form -->
                    <form class="container shadow-lg d-flex p-0" action="{% url 'results' %}" method="get">
                        <input class="form-control mt-3 mr-1 p-4 search-input"
                               name="search" value="{{ request.GET.search }}"
                               type="text" placeholder="Search phytochems E.x: C28H56" aria-label="Search">
                        <button class="btn mt-3 mr-1 p-1 submit-btn" type="submit" value=" "></button>
                    </form>
                </div>
            </div>
        </header>
    <!--header Area or Nav area has Finished-->

{% endblock %}