{% extends "main/base.html" %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <!-- Search form -->
            <div class="col-sm">
                <form action="{% url 'results' %}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                           value=request.GET["search"] name="search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <div class="row p-5">
            <h2>Welcome</h2>
        </div>
    </div>
{% endblock %}