{% extends "main/base.html" %}
{% load static %}
{% block meta-attrs %}
    <meta name="description" content="Teams and members involved with phytochemdb.com project">
    <meta name="keywords" content="phytochemdb.com, phytochemical, compounds, members">
{% endblock %}
{% block title %}Members{% endblock %}
{% block body %}
    <div class="container">
        <a href="{% url 'main:member-research-team' %}">Research team</a><br>
        <a href="{% url 'main:member-dev-team' %}">Developer team</a><br>
        <a href="{% url 'main:member-supervisors' %}">Supervisors</a><br>
    </div>
{% endblock %}