{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ plant.name }} | Phytochem Database{% endblock %}
{% block body %}
    <div class="container">
        <div class="row mb-2 p-3 rounded plant-title">
            <div class="col-md d-flex justify-content-end">
                <img class="ml-2 mr-2 plant-image" src="{% static '/main/images/plant-icon.png' %}" alt="Logo">
                <p class="chemical-title">{{ plant.name }}</p>
            </div>
        </div>
        <div class="row content">
            <div class="col-md">
                <div class="plant-about mt-4 mb-2">This plant contains these phytochems:</div>
                <a class="download-as-option" href="{% url 'download_compound' plant.name %}">Download all</a>
                {% for compound in compounds %}
                    <div class="row mb-3">
                        <div class="w-100 p-3 bg-dark text-white">
                            <span class="float-left"><a
                                    href="{% url "compound"  compound.id %}">{{ compound.PID }}</a></span>
                            <span class="float-right">
                                <a class="download-as-option" href="{% url 'download_compound' compound.PID %}">Download</a>
                            </span>
                        </div>
                        <div class="row mb-3 ml-2 mt-2 chemical-recomand-parent justify-content-start">
                            <em>Plants:</em>
                            <br>
                            {% for plant in compound.plants.all %}
                                <a class="chemical-recomand"
                                   href="{% url "plant" plant.id %}">{{ plant.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="row justify-contents-center align-item-center w-100">
                            <div class="col-sm">
                                <img src="{{ compound.ROMol }}" class="img-responsive center-block d-block mx-auto">
                            </div>
                            <div class="col-sm">
                                <div>
                                    <span class="pull-left">Molecular Formula:</span>
                                    <span class="pull-right">{{ compound.Molecular_Formula }}</span>
                                </div>
                                <div>
                                    <span class="pull-left">Canonical SMILES:</span>
                                    <span class="pull-right text-wrap text-break">{{ compound.Smiles }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}