{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ plant.name }} | Phytochem Database{% endblock %}
{% block body %}
    <div class="container">
         <div class="row mb-2 p-3 rounded plant-title">
            <div class="col-md d-flex justify-content-end">
                <img class="ml-2 mr-2 plant-image" src="{% static '/main/images/plant-icon.png' %}" alt="Logo">
                <p class="chemical-title">{{ plant.name }}</p>
            </div>
        </div>
        <div class="row content">
            <div class="col-md">
                <div class="plant-about mt-4 mb-2">From this plant we found these Chemical</div>
                {% for compound in compounds %}
                    <div class="card card-body row mb-3">

                        <table class="table">
                            <tr class="row">
                                <td class="col-md" align="center"> <img src="{{ compound.ROMol }}" alt=""> </td>
                                <td class="col-sm text-break">
                                    <table class="table-striped">
                                        <tr>
                                            <td><a href="{% url "compound"  compound.id %}">{{ compound.PID }}</a></td>
                                        </tr>
                                        <tr>
                                            <td>{{ compound.Molecular_Formula }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ compound.Smiles }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}