{% extends "main/base.html" %}
{% load static %}
{% block title %}Contact | Phytochem Database{% endblock %}
{% block body %}
    <div class="container">
        <h2 align="center">Research Team</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Shafi Mahmud</h5>
                <h6 class="card-title mb-2 text-muted">Lead Designer of this Database</h6>
                <h6 class="card-title mb-2 text-muted">MS student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>Email: <a href="mailto://shafimahmudfz@gmail.com" class="card-link">shafimahmudfz@gmail.com</a>
                </p>
                <p><a href="https://www.linkedin.com/in/shafi-mahmud-870483124" class="card-link">LinkedIn</a>
                <p><a href="https://www.researchgate.net/profile/Shafi_Mahmud2"
                      class="card-link">ResearchGate</a></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gobindo Kumar Paul</h5>
                <h6 class="card-subtitle mb-2 text-muted">MS Student at Microbiology Laboratory, Department of
                    Genetic Engineering and Biotechnology, University of Rajshahi</h6>
                <p>I am an MS student of Department of Genetic Engineering and Biotechnology at the University of
                    Rajshahi, Bangladesh. My research focuses on Microbiology, Plant physiology, Molecular biology,
                    Enzymology, and Bioinformatics.</p>

                <p>Email: <a href="mailto://gobindokumar38@gmail.com" class="card-link">gobindokumar38@gmail.com</a>
                </p>
                <p><a href="https://www.linkedin.com/in/gobindo-kumar-paul-8374b6164/"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Gobindo_Paul" class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Suvro Biswas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>Hi, I am Suvro Biswas. I am studying Genetic Engineering & Biotechnology at
                    the University of Rajshahi. I always have a curious mind in bioinformatics,
                    especially in the drug and vaccine designing sector. I’m studying, learning,
                    and working in this sector under the guidance of my mentor. Currently,
                    I am involved in some projects of computational drugs and vaccine
                    design for COVID-19.<br>As a student of Genetic Engineering & Biotechnology,
                    I always have a dream to build a research-based career.
                    I am very passionate to conduct my research in Bioinformatics
                    & Molecular Biology. For this purpose, I want to do my higher studies abroad
                    in some of my listed dream universities. I’m very enthusiastic and doing my
                    best to fulfill my dreams.</p>

                <p>Email: <a href="mailto://suvrobiswas0@gmail.com" class="card-link">suvrobiswas0@gmail.com</a></p>
                <p><a href="https://www.linkedin.com/in/suvro-biswas-3565131b5/"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Suvro_Biswas" class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mohasana Akter Mita</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>I’m studying in the Department of Genetic Engineering & Biotechnology at University of Rajshahi.
                    I am very interested in Bioinformatics and want to do further study & research in this sector. I
                    am always trying to learn about bioinformatics and engage myself in bioinformatics based
                    research work. Recently, I am working on Covid-19 therapeutics which is related to my interest.
                    I have dreams to go abroad for doing higher studies & research.
                </p>

                <p>Email: <a href="mailto://mohasanamita26@gmail.com" class="card-link">mohasanamita26@gmail.com</a>
                </p>
                <p><a href="https://www.linkedin.com/in/mohasana-akter-mita-5275621b5/"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Mohasana_Akter_Mita"
                      class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Maria Meha Promi</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>I am a B.Sc (Hons) student of Genetic Engineering and Biotechnology department at University of
                    Rajshahi.My research interest lies in computer-aided drug design,vaccine design,computational
                    cancer biology,computational genomics, proteomisc ,molecular modelling,docking and Cell Biology.

                </p>

                <p>Email: <a href="mailto://meha.mitsa@gmail.com" class="card-link">meha.mitsa@gmail.com</a></p>
                <p><a href="https://www.linkedin.com/in/maria-meha-promi-14037b1a4"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Maria_Meha_Promi2"
                      class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Shamima Afrose</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>I am Shamima Afrose studying Genetic Engineering and Biotechnology at the University of Rajshahi.
                    I am keen to know the mystery behind the creation of life. My research area is In silico
                    Inhibitor Designing for COVID-19. Recently, I have attempted to analyze the diversity of
                    chemical compounds among natural products that are beneficial for therapeutical use in case of
                    SARS-CoV-2. My research interests are bioinformatics, computational biology, phytochemicals, and
                    computer aided drug design. Thence, "Know nature" is the motto of my research.
                </p>

                <p>Email: <a href="mailto://shamimaafrose.ru@gmail.com" class="card-link">shamimaafrose.ru@gmail.com
                </a></p>
                <p><a href="https://www.linkedin.com/in/shamima-afrose-5245631b5/"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Shamima_Afrose2"
                      class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Md. Robiul Hasan</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>I'm Robiul Hasan , an undergraduate student of department of Genetic Engineering and
                    Biotechnology at University of Rajshahi .
                    Currently i'm doing targeting therapeutic drug designing for SARS CoV 2 using bioinformatics
                    approaches.
                    In future, i would like to do my further research based on Microbial genetics.
                </p>

                <p>Email: <a href="mailto://rhonanik7@gmail.com" class="card-link">rhonanik7@gmail.com</a></p>
                <p><a href="https://www.linkedin.com/in/robiul-hasan-688b261ba/"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Md_Robiul_Hasan2"
                      class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Md Ekhtiar Rahman</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>Email: <a href="mailto://ekhtiarbdj@gmail.com" class="card-link">ekhtiarbdj@gmail.com</a></p>
                <p><a href="https://www.researchgate.net/profile/Md_Ekhtiar_Rahman"
                      class="card-link">ResearchGate</a></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mobasshir Noor Shehab</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>Email: <a href="mailto://mobasshirshehab@gmail.com"
                             class="card-link">mobasshirshehab@gmail.com</a></p>
                <p><a href="https://www.linkedin.com/in/mobasshir-n-shehab-b07561183" class="card-link">LinkedIn</a>
                </p>
                <p><a href="https://www.researchgate.net/profile/Mobasshir_Noor_Shehab"
                      class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ariful Islam</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>Email: <a href="mailto://aihridoy75@gmail.com" class="card-link">aihridoy75@gmail.com</a></p>
                <p><a href="https://www.researchgate.net/profile/Ariful_Islam97" class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Khaled Mahmud Sujon</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>
                <p>Email: <a href="mailto://kmsujongeb@gmail.com" class="card-link">kmsujongeb@gmail.com</a></p>
                <p><a href="https://www.linkedin.com/mwlite/in/kmsujon23" class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Khaled_Sujon" class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Md.Wasim Alom</h5>
                <h6 class="card-subtitle mb-2 text-muted">Student at Genetic Engineering and Biotechnology,
                    University of Rajshahi</h6>

                <p>Email: <a href="mailto://wasimalom22@gmail.com" class="card-link">wasimalom22@gmail.com</a></p>
                <p><a href="https://www.linkedin.com/in/sheikh-wasim-82a415187/"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Mdwasim_Alom"
                      class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mohammad Abu Raihan Uddin</h5>
                <h6 class="card-subtitle mb-2 text-muted">Undergraduate Student at University of Science and
                    Technology Chittagong</h6>
                <p>Mohammad Abu Raihan Uddin is an undergraduate student at the Department of Biochemistry and
                    Biotechnology, University of Science and Technology Chittagong. His research interest lies in
                    bioinformatics, computational biology, computer-aided drug design and immune-informatics.
                </p>

                <p>Email: <a href="mailto://raihauddin.bb@gmail.com" class="card-link">raihauddin.bb@gmail.com</a>
                </p>
                <p><a href="https://www.linkedin.com/in/mohammad-abu-raihan-uddin-581281193"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Mohammad_Uddin57"
                      class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sharmin Sultana Shimu</h5>
                <h6 class="card-subtitle mb-2 text-muted">Undergraduate Student at Genetic Engineering and
                    Biotechnology, University of Rajshahi</h6>
                <p>4th year research student, Professor Joarder DNA and Chromosome Research Lab, dept. of Genetic
                    Engineering and Biotechnology, Rajshahi University
                </p>

                <p>Email: <a href="mailto://sharminshimu120@gmail.com"
                             class="card-link">sharminshimu120@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}