{% extends "main/base.html" %}
{% load static %}
{% block meta-attrs %}
    <meta name="description" content="Members in phytochemdb.com research team">
    <meta name="keywords" content="phytochemdb.com, phytochemical, compounds, research team">
{% endblock %}
{% block title %}Research Team{% endblock %}
{% block body %}
    <div class="container bg-white shadow-sm">
        <div class="row pl-2">
            <div class="col-md-5 my-auto">
                <div class="font-italic team-name row flex-column align-items-center">
                    <div class="p-2 developer-cls">Research</div>
                    <div class="p-2 team-cls">Team</div>
                </div>
            </div>
            <div class="col-md-7 about-devoloper" style="height:90vh;">
                <!--  Shafi Mahmud profile   -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Shafi Mahmud</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">MS student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>
                    <p class="mx-2 mb-2 about-researcher">Lead Designer of this Database</p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://shafimahmudfz@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/shafi-mahmud-870483124" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Shafi_Mahmud2" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Gobindo Kumar Paul Profile    -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Gobindo Kumar Paul</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">MS Student at Microbiology Laboratory, Department of
                        Genetic Engineering and Biotechnology <br> University of Rajshahi</h6>

                    <p class="mx-2 mb-2 about-researcher">I am an MS student of Department of Genetic Engineering and
                        Biotechnology at the University of
                        Rajshahi, Bangladesh. My research focuses on Microbiology, Plant physiology, Molecular biology,
                        Enzymology, and Bioinformatics.</p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://gobindokumar38@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/gobindo-kumar-paul-8374b6164/" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Gobindo_Paul" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!--   About Suvro Biswas        -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Suvro Biswas</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>

                    <p class="mx-2 mb-2 about-researcher">Hi, I am Suvro Biswas. I am studying Genetic Engineering &
                        Biotechnology at
                        the University of Rajshahi. I always have a curious mind in bioinformatics,
                        especially in the drug and vaccine designing sector. I’m studying, learning,
                        and working in this sector under the guidance of my mentor. Currently,
                        I am involved in some projects of computational drugs and vaccine
                        design for COVID-19.<br>As a student of Genetic Engineering & Biotechnology,
                        I always have a dream to build a research-based career.
                        I am very passionate to conduct my research in Bioinformatics
                        & Molecular Biology. For this purpose, I want to do my higher studies abroad
                        in some of my listed dream universities. I’m very enthusiastic and doing my
                        best to fulfill my dreams.</p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://suvrobiswas0@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/suvro-biswas-3565131b5/" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Suvro_Biswas" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Mohasana Akter Mita -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Mohasana Akter Mita</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>

                    <p class="mx-2 mb-2 about-researcher">
                        I’m studying in the Department of Genetic Engineering & Biotechnology at University of Rajshahi.
                        I am very interested in Bioinformatics and want to do further study & research in this sector. I
                        am always trying to learn about bioinformatics and engage myself in bioinformatics based
                        research work. Recently, I am working on Covid-19 therapeutics which is related to my interest.
                        I have dreams to go abroad for doing higher studies & research.
                    </p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://mohasanamita26@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/mohasana-akter-mita-5275621b5/" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Mohasana_Akter_Mita" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- >Maria Meha Promi -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Maria Meha Promi</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>

                    <p class="mx-2 mb-2 about-researcher">
                        I am a B.Sc (Hons) student of Genetic Engineering and Biotechnology department at University of
                        Rajshahi.My research interest lies in computer-aided drug design,vaccine design,computational
                        cancer biology,computational genomics, proteomisc ,molecular modelling,docking and Cell Biology.
                        .
                    </p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://meha.mitsa@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/maria-meha-promi-14037b1a4" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Maria_Meha_Promi2" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Shamima Afrose -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Shamima Afrose</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>

                    <p class="mx-2 mb-2 about-researcher">
                        I am Shamima Afrose studying Genetic Engineering and Biotechnology at the University of
                        Rajshahi.
                        I am keen to know the mystery behind the creation of life. My research area is In silico
                        Inhibitor Designing for COVID-19. Recently, I have attempted to analyze the diversity of
                        chemical compounds among natural products that are beneficial for therapeutical use in case of
                        SARS-CoV-2. My research interests are bioinformatics, computational biology, phytochemicals, and
                        computer aided drug design. Thence, "Know nature" is the motto of my research.
                    </p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://shamimaafrose.ru@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/shamima-afrose-5245631b5/" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Shamima_Afrose2" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Md. Robiul Hasan -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Md. Robiul Hasan</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>

                    <p class="mx-2 mb-2 about-researcher">
                        I'm Robiul Hasan , an undergraduate student of department of Genetic Engineering and
                        Biotechnology at University of Rajshahi .
                        Currently i'm doing targeting therapeutic drug designing for SARS CoV 2 using bioinformatics
                        approaches.
                        In future, i would like to do my further research based on Microbial genetics.

                    </p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://rhonanik7@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>

                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/robiul-hasan-688b261ba/" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Md_Robiul_Hasan2" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Md Ekhtiar Rahman -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Md Ekhtiar Rahman</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://ekhtiarbdj@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Md_Ekhtiar_Rahman" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Mobasshir Noor Shehab -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Mobasshir Noor Shehab</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://mobasshirshehab@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/mobasshir-n-shehab-b07561183" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Mobasshir_Noor_Shehab" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Ariful Islam -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Ariful Islam</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://aihridoy75@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Ariful_Islam97" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Khaled Mahmud Sujon-->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Khaled Mahmud Sujon</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Student at Genetic Engineering and Biotechnology <br>
                        University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://kmsujongeb@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/mwlite/in/kmsujon23" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Khaled_Sujon" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Mohammad Abu Raihan Uddin -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Mohammad Abu Raihan Uddin</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Undergraduate Student at University of Science and
                        Technology Chittagong</h6>
                    <p class="mx-2 mb-2 about-researcher">
                        Mohammad Abu Raihan Uddin is an undergraduate student at the Department of Biochemistry and
                        Biotechnology, University of Science and Technology Chittagong. His research interest lies in
                        bioinformatics, computational biology, computer-aided drug design and immune-informatics.
                    </p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://raihauddin.bb@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/mohammad-abu-raihan-uddin-581281193" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                        <p class="dev-link mx-1">
                            <a href="https://www.researchgate.net/profile/Mohammad_Uddin57" target="_blank">
                                <img src="{% static '/main/images/researchgate.png' %}" alt="ResearchGate">
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Sharmin Sultana Shimu -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Sharmin Sultana Shimu</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Undergraduate Student at Genetic Engineering and
                        Biotechnology <br> University of Rajshahi</h6>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="mailto://sharminshimu120@gmail.com">
                                    <span class="fa-stack fa-1x">
                                         <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                          <i class="fa fa-envelope fa-stack-1x"></i>
                                     </span>
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
                <!-- Sheikh Wasim -->
                <div class="row flex-column my-4 px-2">
                    <div class="row d-flex justify-content-between mx-2">
                        <h3 class="collaborator-name">Sheikh Wasim</h3>
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </div>
                    <h3 class="mx-2 mt-2 collaborator-about">About</h3>
                    <h6 class="mx-2 mb-2 text-muted">Undergraduate Student at University of Rajshahi</h6>
                    <p class="mx-2 mb-2 about-researcher">
                        B.Sc in Genetic Engineering & Biotechnology at University of Rajshahi, Bangladesh. I have research interest in Bioinformatics, Immunology and Pharmacology.
                    </p>
                    <div class="row d-flex justify-content-end mx-2">
                        <p class="dev-link mx-1">
                            <a href="https://www.linkedin.com/in/sheikh-wasim-82a415187/" target="_blank">
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                                        <i class="fa fa-linkedin fa-stack-1x"></i>
                                    </span>
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
