{% extends "main/base.html" %}
{% load static %}
{% block title %}Contact | Phytochem Database{% endblock %}
{% block body %}
    <div class="container">
        <h2 align="center">Supervisors</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Professor Shahriar Zaman</h5>
                <h6 class="card-subtitle mb-2 text-muted">Microbiology Laboratory, Department of Genetic Engineering and
                    Biotechnology, University of Rajshahi, Bangladesh</h6>
                <p>
                    Currently I am working as Professor in the Department of Genetic Engineering and Biotechnology at
                    the University of Rajshahi, Bangladesh. I received my PhD and Postdoc from RU. My research focuses
                    on Microbiology, Environmental microbiology, Plant physiology, Enzymology, Medicinal chemistry,
                    Molecular biology, and Biochemistry.
                </p>
                <p>Email: <a href="mailto://szaman@ru.ac.bd" class="card-link">szaman@ru.ac.bd</a></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dr. Md. Salah Uddin</h5>
                <h6 class="card-subtitle mb-2 text-muted">Associate Professor, Microbiology Laboratory, Department of
                    Genetic Engineering and Biotechnology, University of Rajshahi, Bangladesh
                </h6>
                <p>
                    Currently I am working as an Associate Professor in the Department of Genetic Engineering and
                    Biotechnology at the University of Rajshahi. I received my Ph.D. on Environmental Microbiology and
                    Wastewater Treatment from School of Environmental and Biological Science and Technology, Dalian
                    University of Technology, Dalian, China. My research focuses on Microbiology, Environmental
                    Microbiology, Wastewater Treatment, Medicinal Chemistry, and Molecular Biology.
                </p>
                <p>Email: <a href="mailto://salim.geb@ru.ac.bd" class="card-link">salim.geb@ru.ac.bd</a></p>
                <p><a href="https://www.researchgate.net/profile/Md_Uddin254" class="card-link">ResearchGate</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dr. Md. Abu Saleh</h5>
                <h6 class="card-subtitle mb-2 text-muted">Associate Professor at Department of Genetic Engineering
                    and biotechnology, University of Rajshahi. Bangladesh
                </h6>
                <p>Currently I am working as an Associate Professor in the Department of Genetic Engineering and
                    Biotechnology at the University of Rajshahi, Bangladesh. I received my PhD on enzymology and
                    enzyme kinetics from CAS, China. My research focuses on microbiology, enzymology, medicinal
                    chemistry, bioinformatics, and protein modeling.
                </p>

                <p>Email: <a href="mailto://saleh@ru.ac.bd" class="card-link">saleh@ru.ac.bd</a></p>
                <p><a href="https://www.linkedin.com/in/dr-md-abu-saleh-a1144553/"
                      class="card-link">LinkedIn</a></p>
                <p><a href="https://www.researchgate.net/profile/Md_Saleh3" class="card-link">ResearchGate</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}