@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}