.team-name {
    font-family: Helvetica, Arial, 'sans-serif';
    font-size: 2em;
    font-weight: 600;
}

.developer-cls {
    color: #9292ff;
}

.collaborator-name {
    font-family: Helvetica, Arial, 'sans-serif';
    font-size: 1.5em;
    font-weight: 600;
}

.collaborator-about {
    text-transform: uppercase;
    font-family: Helvetica, Arial, 'sans-serif';
    font-size: 1.1em;
    color: #000000;
}

.about-researcher {
    font-size: 1em;
    font-weight: 500;
}

.dropdown .dropdown-menu .dropdown-item {
    background-color: #ffffff !important;
    color: black !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #100031 !important;
    color: white !important;
}

.dev-link a {
    color: #03000e;
}

.dev-link a:hover {
    color: #272727;
}

.about-developer {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}