@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&family=Proza+Libre&family=Rubik&family=Taviraj&display=swap');

header{
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,0.2)), url(../images/background-image.png);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.navbar-brand{
    text-transform: lowercase;
    font-family: 'Offside', cursive;
    font-size: 1.88em;
    letter-spacing: 0.07em;
}
nav .navbar-nav li a{
    text-transform: capitalize;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color:white !important;
}
nav .navbar-nav li img{
    padding: 12px 0;
}

.nav-link:hover{
    color: #cecece !important;
}

.text-item{

/*
    font-family: 'Prompt', sans-serif;
*/
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Libre Franklin', sans-serif;
    /* font-family: 'Proza Libre', sans-serif; */
     /* font-family: 'Rubik', sans-serif; */
    /*font-family: 'Taviraj', serif;*/
    font-weight: 500;
    color: #e9e9e9 !important;
    font-size: 1.62em;
    letter-spacing: 0.05em;
}
.homepage-text-2{
    font-family: 'Rubik', sans-serif;
    font-size: 1.40em;
    color: #A9A9A1 !important;
}
.homepage-important-text{
    text-transform: uppercase;
    color: #ffffff !important;
}
.search-suggession{
   font-family: 'Titillium Web', sans-serif;
    font-size: 1.20em;
    color: #ffffff !important;
     letter-spacing: 0.05em;
}
.submit-btn{
    background-color: #b8009d;
}
.submit-btn:hover{
    background-color: #990683;
}
.con-hei{
    height:100vh;
}
@media only screen and (max-width: 500px) {
    .text-item{
        font-size: 1.10em;
    }
    .homepage-text-2{
        font-size: 0.95em;
    }
    .navbar-brand{
        font-size: 1.1em;
        letter-spacing: 0.05em;
    }
}

@media only screen and (max-width: 450px) {
      @media only screen and (min-height: 850px) {
        .text-item{
             font-size: 1.3em;
        }
        .homepage-text-2{
            font-size: 1.1em;
        }
        .search-suggession{
            font-size: 1em;
        }
        .navbar-brand{
            font-size: 1.40em;
            letter-spacing: 0.05em;
        }
    }
}

@media only screen and (max-width: 400px) {
      @media only screen and (max-height: 700px) {
        .text-item{
             font-size: 0.9em;
        }
        .homepage-text-2{
            font-size: 0.80em;
        }
        .search-suggession{
            font-size: 0.80em;
        }
        .navbar-brand{
            font-size: 1.20em;
            letter-spacing: 0.05em;
        }
    }
}
.navbar{
    background-image: linear-gradient(to right,#1a005e, #060009,#330148);
    transition: ease-in-out 0.5s;
}

.navbar.sticky{
    background-image: none;
}
