body{
    background-color:#f4f3f5;
}
/*           ------ writting for plant and Chemical Comound code --------*/
.plant-about {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0;
    font-size: 1.70em;
    font-weight: 500;
    color: #1f1f1f;
}

.chemical-title {
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    font-size: 25px;
    margin: 20px 0;
    padding: 10px 20px;
    color: #050000;
    font-weight: 500;
}

.chemical-about {
    font-family: 'Roboto', sans-serif;
    padding:5px 0;
    font-size: 1.70em;
    font-weight: 500;
    color: #1f1f1f;
}

.chemical-recomand {
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    border-radius: 10px;
    background-color: #dae3e7;
    margin: 0 15px 15px 0;
    padding: 4px 16px;
    color: #161616;
}
.chemical-recomand:hover {
    background-color: #bbd6db;
    color: #0f002f;
    text-decoration: none;
}
.phytochem-found{
    font-size: larger;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
}
em.plants-l{
    font-size: large;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
}
.chemical-recomand-parent{
    overflow-y:auto;
    overflow-x:hidden;
    height: 3em;
}
.chemical-id-top a{
    text-decoration : none;
    font-family: 'Roboto', sans-serif;
    /* background-color: #2f0142; */
    background-color: #0f002f;
    color:white;
}
.chemical-id-top a:hover{
    background-color: #5c0681;
    color:white;
}

a.download-all-option{
    text-decoration : none;
    font-family: 'Roboto', sans-serif;
    background-color: #0f002f;
    color:white;
    letter-spacing: 0.05em;
    font-weight: 500;
}
a.download-all-option:hover{
    background-color: #5c0681;
    color:white;
}

.download-btn{
    background-color:#dae3e7;
    border-radius: 5px;
    border: none;
}
.download-btn:hover{
    background-color:#7cc4e6;
}
.download-type{
    background-color:#dae3e7;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 5px;
    border: none;
}

a.stop-highlight{
    text-decoration: none;
    color: black;
}

/*           ------ End plant and Chemical Comound code --------*/
.smile {
    min-width: 160px;
    max-width: 160px;
    white-space: normal;
    word-wrap: break-word;
}

.card {
    width: 100%;
    padding: 10px;
    margin: 10px;
}